{% extends "dos_website/base.html" %}

{% block content %}
    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Do's Musical</h1>
          <h2>La troupe de comédie musicale de Dauphine</h2>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/dosmusical/events/?ref=page_internal" class="btn btn-secondary btn-lg">
                <span class="network-name">Evènements</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.leetchi.com/c/hairspray-par-le-dos-musical?fbclid=IwAR3ce7UCMiEHK97iPmmjRHUG2A5HWBt2sEaww__1tbtOab38-YPW3V4BrAg" class="btn btn-secondary btn-lg">
                <span class="network-name">Soutenir</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/login" class="btn btn-secondary btn-lg">
                <span class="network-name">  Rejoindre   </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a" id="about">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">A Propos</h2>
            <p class="lead">
L'aventure du Do's Musical débute en 2015. De jeunes étudiants, amateurs de comédie musicale se lancent dans une aventure incroyable et décident de créer une association au sein de l’Université Paris Dauphine : le Do's Musical.</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="../../static/img/initial.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">LA PRESSE EN PARLE</h2>
            <h3 class="section-heading">Le monde des grandes écoles et universités</h3>
            <p class="lead">Tous les artistes sont polyvalents et le spectacle entier est organisé, mis en scène,
                chorégraphié, orchestré, joué par des étudiants.
                La passion et l’énergie de la scène guidant les pas des membres du Do’s,
                ils sont parvenus à monter un spectacle d’une envergure semi-professionnelle
                que nous vous conseillons vivement.</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="../../static/img/aimerestplusfortquedetreaime.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Regard en Coulisse</h2>
            <p class="lead">Après Grease puis Chicago, présentées ces dernières années, ce sont donc les Jets,
                les Sharks, Tony et Maria qui vont renaitre à leur initiative les 30 et 31 mars prochains.
                [...] Une troupe de passionnés surtout qui travaille depuis six mois sur ce projet autour notamment
                de leur directeur musical Thibaut Rérolle.
            </p>
          </div>
          <div class="col-lg-5 mr-auto ">
            <img class="img-fluid" src="../../static/img/anais.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

{% endblock %}
